<%- include('partials/header.html') %>

<div id="main-container" class="container-fluid">
    <div class="col-md-12">
        <div class="row" id="auth-row">
            <div class="col-md-4" id="destaque-container">
                <h2>Novo Destaque</h2>
                <form enctype="multipart/form-data" method="POST" action="/admin/destaque">
                    <div class="form-group">
                        <label for="title">Título:</label>
                        <input type="text" class="form-control" id="title" name="titulo_destaque" placeholder="Digite o título do destaque">
                    </div>
                    <div class="form-group">
                        <label for="image">Imagem:</label>
                        <input type="file" class="form-control-file" name="image_destaque" id="image_destaque">
                    </div>
                    <div class="form-group">
                        <label for="description">Descrição:</label>
                        <textarea name="conteudo_destaque" id="description" rows="5" class="form-control" placeholder="Descreva o destaque..."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="title">Categoria:</label>
                        <input type="text" class="form-control" id="category" name="categoria_destaque" placeholder="Digite a categoria do destaque">
                    </div>
                    <div class="form-group">
                        <label for="title">Slug:</label>
                        <input type="text" class="form-control" id="slug" name="slug_destaque" placeholder="Digite o slug do destaque">
                    </div>
                    <input type="submit" class="btn card-btn" value="Adicionar destaque" name="acao">
                </form>
            </div>
            <div class="col-md-4" id="noticia-container">
                <h2>Nova Noticia</h2>
                <form enctype="multipart/form-data" method="POST" action="/admin/noticia">
                    <div class="form-group">
                        <label for="title">Título:</label>
                        <input type="text" class="form-control" id="title" name="titulo_noticia" placeholder="Digite o título da noticia">
                    </div>
                    <div class="form-group">
                        <label for="image">Imagem:</label>
                        <input type="file" class="form-control-file" name="image_noticia" id="image_noticia">
                    </div>
                    <div class="form-group">
                        <label for="description">Descrição:</label>
                        <textarea name="conteudo_noticia" id="description" rows="5" class="form-control" placeholder="Descreva o noticia..."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="title">Categoria:</label>
                        <input type="text" class="form-control" id="category" name="categoria_noticia" placeholder="Digite a categoria da noticia">
                    </div>
                    <div class="form-group">
                        <label for="title">Slug:</label>
                        <input type="text" class="form-control" id="slug" name="slug_noticia" placeholder="Digite o slug do noticia">
                    </div>
                    <input type="submit" class="btn card-btn" value="Adicionar noticia" >
                </form>
            </div>
            <div class="col-md-4" id="estudo-container">
                <h2>Novo Estudo</h2>
                <form enctype="multipart/form-data" method="POST"  action="/admin/estudo">
                    <div class="form-group">
                        <label for="title">Título:</label>
                        <input type="text" class="form-control" id="title" name="titulo_estudo" placeholder="Digite o título do estudo">
                    </div>
                    <div class="form-group">
                        <label for="image">Imagem:</label>
                        <input type="file" class="form-control-file" name="image_estudo" id="image_estudo">
                    </div>
                    <div class="form-group">
                        <label for="description">Descrição:</label>
                        <textarea name="conteudo_estudo" id="description" rows="5" class="form-control" placeholder="Descreva o estudo..."></textarea>
                    </div>
                    <div class="form-group">
                        <label for="title">Categoria:</label>
                        <input type="text" class="form-control" id="category" name="categoria_estudo" placeholder="Digite a categoria do estudo">
                    </div>
                    <div class="form-group">
                        <label for="title">Slug:</label>
                        <input type="text" class="form-control" id="slug" name="slug_estudo" placeholder="Digite o slug do estudo">
                    </div>
                    <input type="submit" class="btn card-btn" value="Adicionar estudo">
                </form>
            </div>
        </div>
    </div>
</div>

<div id="main-container" class="container-fluid">
    <div class="col-md-12">
        <div class="row" id="auth-row">
            <div class="col-md-4">
                <h2>Destaques</h2>
                <div id="destaque-delete">
                    <% for (let i = 0; i < destaques.length; i++) { %>
                    <p>Titulo: <%= destaques[i].titulo %></p>
                    <a href="/admin/deletar/destaques/<%= destaques[i].id %>">(x)</a>
                    <% } %>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Noticias</h2>
                <div id="noticia-delete">
                    <% for (let i = 0; i < posts.length; i++) { %>
                    <p>Titulo: <%= posts[i].titulo %></p>
                    <a href="/admin/deletar/posts/<%= posts[i].id %>">(x)</a>
                    <% } %>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Estudos</h2>
                <div id="estudo-delete">              
                    <% for (let i = 0; i < estudos.length; i++) { %>
                    <p>Titulo: <%= estudos[i].titulo %></p>
                    <a href="/admin/deletar/estudos/<%= estudos[i].id %>">(x)</a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer.html') %>