<%- include('partials/header.html') %>


    <div id="main-container" >
        <div class="col-md-12">
            <div class="row" >
                <div class="col-md-12" id="contribua">
                    <h2>CONTRIBUA</h2>
                    <div class="logosbancos">
                        <div class="col-md-2">
                            <img src="../public/images/contribua/caixa.png" alt="caixa economica" id="caixa">
                            <h3>CAIXA ECONÔMICA</h3>
                            <h3>AGÊNCIA 3379</h3>
                            <h3>OPERAÇÃO 001</h3>
                            <h3>CONTA CORRENTE 28586-0</h3>
                        </div>
                        <div class="col-md-3">
                            <img src="../public/images/contribua/itau.png" alt="banco do brasil" id="bb">
                            <h3>BANCO ITAÚ</h3>
                            <h3>AGÊNCIA 9313</h3>
                            <h3>CONTA CORRENTE 12693-1</h3>
                        </div>
                        <div class="col-md-2">
                            <img src="../public/images/contribua/inter.png" alt="banco inter" id="inter">
                            <h3>BANCO INTER</h3>
                            <h3>AGÊNCIA 0001</h3>
                            <h3>CONTA CORRENTE 4567709-3</h3>
                        </div>
                        <div class="col-md-2">
                            <img src="../public/images/contribua/bb.png" alt="banco itau" id="itau">
                            <h3>BANCO DO BRASIL</h3>
                            <h3>CONTA POUPANÇA 49019-9</h3>
                            <h3>VARIAÇÃO 51</h3>
                        </div>
                        <div class="col-md-3">
                            <img src="../public/images/contribua/pix.png" alt="pix" id="pix">
                            <h3>CHAVE PIX</h3>
                            <h3>Celular: 41 9 96801918</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<%- include('partials/footer.html') %>

</body>
</html>