<%- include('partials/header.html') %>

<div id="main-container" class="container-fluid">
    <div class="col-md-12">
        <div style="margin-top: 20px" class="row" id="auth-row">
            <div class="col-md-4">
                <div style="display:flex;">
                    <h2 style="display:flex;margin: 0 auto;"><b>FALE CONOSCO</b></h2>
                </div>
                <br>
                <br>
                <p>Se você deseja tirar dúvidas ou agendar uma visita, entre em contato conosco, por nossos meios oficiais!</p>
                <br>
                <br>
                <div style="display:flex;justify-content: space-evenly">
                    <div style="display:flex;">
                        <div>
                            <img style="margin: 0 33px;display:flex;align-items: center;width: 100px; height: 100px;" src="../public/images/faleconosco/youtube.png" alt="justiça">
                            <div>
                                <p style="display:flex; justify-content: center;">Youtube</p>
                                <p style="display:flex; justify-content: center;">Ahavat Chessed</p>
                            </div>
                        </div>
                    </div>
                    <div style="display:flex;">
                        <div style=" justify-content: center;align-items: center;">
                            <img style="margin: 0 auto;display:flex;align-items: center;width: 200px; height: 100px;" src="../public/images/faleconosco/clock.png" alt="coração">
                            <div>
                                <p style="display:flex; justify-content: center;">HORÁRIO DE ATENDIMENTO</p>
                                <p style="display:flex; justify-content: center;">Seg-Sex: 08:00-18:00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="display:flex;justify-content: space-evenly"">
                    <div>
                        <img style="margin: 0 auto;display:flex;align-items: center;width: 100px; height: 100px;" src="../public/images/faleconosco/whatsapp 1.png" alt="reza">
                        <div>
                            <p style="display:flex; justify-content: center;">WHATSAPP ROSH MOSHE</p>
                            <p style="display:flex; justify-content: center;">(41) 9 9690-1918</p>
                        </div>
                    </div>
                    <div style="justify-content: center;align-items: center;">
                        <img style="margin: 0 auto;display:flex;align-items: center;width: 100px; height: 100px;" src="../public/images/faleconosco/whatsapp 2.png" alt="reza">
                        <div>
                            <p style="display:flex; justify-content: center;">WHATSAPP ROSH ELIANA</p>
                            <p style="display:flex; justify-content: center;">(41) 9 98724349</p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>


<%- include('partials/footer.html') %>