
<%- include('partials/header.html') %>

    <section style="margin-bottom: 20px;" class="noticia-destaque">
        <div class="img-destaque">
            <div class="title-destaque-descricao">
                <div class="item active">
                    <h2><%= destaques[0].titulo %></h2>
                    <p><%= destaques[0].conteudoCurto %></p>
                    <img src="<%= destaques[0].image %>">
                </div>
            </div>
        </div>
    </section>
    
    <section class="outras-noticias">
        <div class="title-outras-noticia">
            <div class="center">
                <div class="informacoes">
                    <h1>INFORMACÕES</h1>
                    <div class="informacoes-noticias">
                        <div class="informacoes-noticia-single">
                            <div class="form">
                                <form style="width:100%;" method="post">
                                    <input type="text" class="text" placeholder="Digite o nome da cidade" name="city" value=""/>
                                    <input type="submit" value="Buscar" class="submit" name="submit"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ultimas">
                    <h2>POSTAGENS</h2>
                    <% for (let i = 0; i < posts.length; i++) { %>
                    <div class="box-ultima-single">
                        <img src="<%= posts[i].image %>" />
                        <div class="conteudo-noticia-single">
                            <h2><%= posts[i].titulo %></h2>
                            <p>Categoria: <%= posts[i].categoria %></p>
                            <p><%- posts[i].conteudoCurto %></p>
                            <a href="<%= posts[i].slug %>">Continue Lendo...</a>
                        </div>
                    </div>
                    <% } %>
                    <h2>NOTICIAS</h2>
                    <% for (let i = 0; i < noticias.length; i++) { %>
                    <div class="box-ultima-single">
                        <img src="<%= noticias[i].image %>" />
                        <div class="conteudo-noticia-single">
                            <h2><%= noticias[i].titulo %></h2>
                            <p>Categoria: <%= noticias[i].categoria %></p>
                            <p><%- noticias[i].conteudoCurto %></p>
                            <a href="<%= noticias[i].slug %>">Continue Lendo...</a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>

<%- include('partials/footer.html') %>

    </body>
</html>