
<%- include('partials/header.html') %>
    
    <section style="margin-bottom: 20px;" class="noticia-destaque">
        <div class="img-destaque">
            <div class="title-destaque-descricao">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <% for (let i = 0; i < destaques.length; i++) { %>
                            <div class="carousel-item active" data-bs-interval="5000">
                            <h2><%= destaques[i].titulo %></h2>
                            <p><%= destaques[i].conteudo %></p>
                              <img src="../public/images/<%= destaques[i].image %>" class="d-block w-100">
                            </div>
                        <% } %>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
        </div>
    </section>
    
    <section class="outras-noticias">
        <div class="title-outras-noticia">
            <div class="center">
                <div class="informacoes">
                    <h1>INFORMACÕES</h1>
                    <h2>Horário das transmissões</h2>
                    <div>
                        <table class="table" style="width:210px;margin: 0 auto;">
                            <tbody>
                            <% for (let i = 0; i < horarios.length; i++) { %>
                              <tr>
                                <td><%= horarios[i].titulo %></td>
                                <td style="width:100px"><%= horarios[i].horario %></td>
                              </tr>
                            <% } %>
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="ultimas">
                    <h2>POSTAGENS</h2>
                    <% for (let i = 0; i < posts.length; i++) { %>
                    <div class="box-ultima-single">
                        <img src="../public/images/<%= posts[i].image %>" />
                        <div class="conteudo-noticia-single">
                            <h2><%= posts[i].titulo %></h2>
                            <p>Categoria: <%= posts[i].categoria %></p>
                            <p><%- posts[i].conteudoCurto %></p>
                            <a href="<%= posts[i].slug %>">Continue Lendo...</a>
                        </div>
                    </div>
                    <% } %>
                    <div class="vejamaisbutton">
                        <a href="/postagens">Veja Mais</a>
                    </div>
                    <h2 style="margin-top: 50px">NOTICIAS</h2>
                    <% for (let i = 0; i < noticias.length; i++) { %>
                    <div class="box-ultima-single">
                        <img src="../public/images/<%= noticias[i].image %>" />
                        <div class="conteudo-noticia-single">
                            <h2><%= noticias[i].titulo %></h2>
                            <p>Categoria: <%= noticias[i].categoria %></p>
                            <p><%- noticias[i].conteudoCurto %></p>
                            <a href="<%= noticias[i].slug %>">Continue Lendo...</a>
                        </div>
                    </div>
                    <% } %>
                    <div class="vejamaisbutton">
                        <a href="/noticias">Veja Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

<%- include('partials/footer.html') %>

    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>