<%- include('partials/header.html') %>

<div class="sobre" style="margin-top: 30px;">
    <div style="display:flex; flex-direction:column">
        <h2 style="font-weight:bold;">QUEM SOMOS</h2>
        <h2 class="after" ></h2>
        <div style="display:flex; justify-content: center; margin-bottom: 20px">
            <p style="font-size: 20px">
                Sinagoga Ahavat Chessed surgiu em junho de 2019, quando o Rosh Moshê e sua família, abriram as portas de sua casa, em Curitiba, para receber aqueles que quisessem estudar a Torah, mas que desejassem também colocar em prática o que aprendessem.
                <br>
                <br>
                <br>
                Inicialmente, na sala de casa ainda, recebiam um casal, depois dois, três. Com o passar do tempo, as transmissões dos estudos pela internet foram atraindo mais pessoas, até que a sala teve que ser transformada num espaço para 20 pessoas.
            </p>
            <img style="width: 600px; height: 350px;" src="../public/images/sobre/1.png" alt="sofa">
        </div>
        <div style="display:flex; align-items:flex-start">
            <img style="width: 600px; height: 550px;" src="../public/images/sobre/2.png" alt="sofa">
            <p style="font-size: 20px">
                O espírito acolhedor, somado aos esforços de todos, foi transformando o espaço, até que em dezembro de 2021, foi necessário derrubar paredes. O lugar já não comportava as 40 pessoas que ali frequentavam, mesmo em tempos de pandemia.
                <br>
                <br>
                <br>
                Transmissões que começaram com 20, 30 pessoas assistindo rapidamente chegaram a mais de 200 famílias online e continuam a crescer, sempre firmados na dedicação e apoio incessante de seus membros pelo mundo afora. 
                <br>
                <br>
                <br>
                <br>
                Hoje nossa pequena Sede conta com espaço para 40 pessoas, refeitório e escritórios, onde as gravações de novos estudos seguem em ritmo diário, e os projetos vão alcançando novos casais, jovens e todos que buscam cumprir de forma plena a Torah. 
            </p>
        </div>
        <br>
        <br>
        <div>
            <p style="font-size: 20px">Nossos membros já não estão apenas em Curitiba, mas espalhados em diversas cidades mundo afora. Pessoas de vários cantos do Brasil e do mundo, como Estados Unidos, Panamá, Portugal, Alemanha, Japão, etc…</p>
        </div>
        <div>
            <p style="font-size: 20px">Conheça nossa programação e participe ao vivo dos estudos, seja em nosso canal do Youtube ou nas aulas EAD para jovens do projeto Daat V’Chessed.</p>
        </div>
        <h2 style="font-weight:bold;">Sobre nosso propósito</h2>
        <h2 class="after"></h2>
        <div style="display:flex;justify-content: center;">
            <p style="font-size: 20px">Vivemos num mundo onde a religião é banalizada, e líderes religiosos possuem muito conhecimento e pouca prática e transmitem a seus discípulos exatamente isso: A religiosidade, sem a prática da fé! Esta tem sido a grande enfermidade, onde interpretações bíblicas se tornam mais relevantes que a obediência aos preceitos de D-us. Mas há um caminho!</p>
        </div>
        <div style="display:flex;justify-content: center;">
            <p style="font-size: 20px">Como dito outrora por um shaliach de nome Yaakov: “Mas dirá alguém: Tu tens a fé, e eu tenho as obras; mostra-me a tua fé sem as tuas obras, e eu te mostrarei a minha fé pelas minhas obras.” (Tg 2:18)</p>
        </div>
        <div style="display:flex;justify-content: center;">
            <h2>Mas então, que obras o Senhor quer de nós?</h2>
        </div>
        <br>
        <div style="margin: 0 auto;justify-content: center;align-items: center;">
            <p style="font-size: 20px">Mq 6:8 - Ele te declarou, ó homem, o que é bom e que é o que o SENHOR pede de ti: que pratiques a justiça, e ames a misericórdia, 
            <p style="display:flex;justify-content: center;align-items: center;font-size: 20px">e andes humildemente com o teu Deus.</p>
            </p>
        </div>
        <br>
        <br>
        <div style="margin: 0 auto;justify-content: center;align-items: center;">
            <p style="font-size: 20px">Falar de religião quase sempre é algo complexo, gera discussões e debates acalorados, mas quando se fala de obediência a D-us, tudo fica mais simples.
            <p style="display:flex;justify-content: center;align-items: center;font-size: 20px">Em nossa sinagoga, “Ahavat Chessed” são mais do que meramente duas palavras em hebraico, são um estilo  de vida. </p>
            </p>
        </div>
        <br>
        <br>
        <div style="display:flex;justify-content: center;">
            <p style="font-size: 20px">O profeta Michah (Miquéias) nos diz que o Eterno pede três coisas. </p>
        </div>
        <br>
        <br>
        <div style="display:flex;justify-content: space-between;align-items: center;">
            <div style="justify-content: center;align-items: center;">
                <img style="margin: 0 auto;display:flex; justify-content: center;align-items: center;width: 100px; height: 100px;" src="../public/images/sobre/3.png" alt="justiça">
                <div style="justify-content: space-between;align-items: center;">
                    <p style="display:flex; justify-content: center;align-items: center;">Praticar a justiça</p>
                    <p style="display:flex; justify-content: center;align-items: center;">(Assot Mishpat)</p>
                </div>
            </div>        
            <div style=" justify-content: center;align-items: center;">
                <img style="margin: 0 auto;display:flex; justify-content: center;align-items: center;width: 100px; height: 100px;" src="../public/images/sobre/4.png" alt="coração">
                <div style="justify-content: space-between;align-items: center;">
                    <p style="display:flex; justify-content: center;align-items: center;">Amar ser bom</p>
                    <p style="display:flex; justify-content: center;align-items: center;">(Ahavat Chessed)</p>
                </div>
            </div>
            <div style="justify-content: center;align-items: center;">
                <img style="margin: 0 auto;display:flex; justify-content: center;align-items: center;width: 100px; height: 100px;" src="../public/images/sobre/5.png" alt="reza">
                <div style="justify-content: space-between;align-items: center;">
                    <p style="display:flex; justify-content: center;align-items: center;">Andar com humildade/discrição</p>
                    <p style="display:flex; justify-content: center;align-items: center;">(Hatseneah)</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <b style="font-size: 31px">O GRANDE SEGREDO É TRANSFORMAR A CRENÇA EM ATITUDES.</b>
        <div style="display:flex; justify-content: center; margin-bottom: 20px">
            <p style="font-size: 20px">
                Na Ahavat Chessed não acreditamos que devemos ser boas pessoas, isso todo mundo acredita, mas precisamos ir além, não basta ser bom, temos que amar ser bom. 
                <br>
                <br>
                Amar fazer o bem, é buscar assiduamente meios para ajudar ao próximo, não porque esperamos receber algo em troca, mas simplesmente porque amamos a bondade.
                <br>
                <br>
                A cada dia, a cada ano, mais e mais pessoas têm se unido a nós neste propósito e se, em teu coração também arde um desejo por fazer mais, por transformar a sua vida e a dos outros através de pequenos ou grandes gestos de bondade, lhe convidamos a fazer parte de nosso minian. 
            </p>
            <img style="width: 600px; height: 400px;" src="../public/images/sobre/6.jpg" alt="sofa">
        </div>
        <div style="margin: 0 auto;justify-content: center;align-items: center;">
            <p style="font-size:20px">Aqui, cada pessoa conta, cada gesto é relevante. Como diz o sábio Shamay: “Seja o estudo da Lei Divina a tua principal preocupação; fala pouco e faz muito.”
            <p style="display:flex;justify-content: center;align-items: center;font-size: 20px">(Pirkei Avot 1:15)</p>
            </p>
        </div>
        <div style="display:flex;justify-content: center;">
            <p style="font-size: 20px">É preciso estudar a bíblia, mas se não colocarmos em prática aquilo que nela aprendemos, qual o sentido da religião?</p>
        </div>
        <div style="display:flex;justify-content: center;">
            <p style="font-size: 20px">Mais uma vez dizemos: “Junte-se a nós!” Porque sempre há espaço para quem quer buscar mais de D-us, não apenas em palavras, mas em atitude</p>
        </div>
    </div>
</div>

<%- include('partials/footer.html') %>