<%- include('partials/header.html') %>

<div id="main-container" >
    <div class="col-md-12">
        <div class="row" >
            <div class="col-md-12" id="faleConosco">
                <h2><b>FALE CONOSCO</b></h2>
                <br>
                <p>Se você deseja tirar dúvidas ou agendar uma visita, entre em contato conosco, por nossos meios oficiais!</p>
                <br>
                <br>
                <br>
                <div class="logosbancos">
                    <div class="col-md-3">
                        <img src="../public/images/faleconosco/youtube.png" alt="caixa economica" id="caixa">
                        <h3>YOUTUBE</h3>
                        <h3>AHAVAT CHESSED</h3>
                    </div>
                    <div class="col-md-3">
                        <img src="../public/images/faleconosco/clock.png" alt="banco do brasil" id="bb">
                        <h3>HORÁRIO DE ATENDIMENTO</h3>
                        <h3>SEG-SEX: 08:00-18:00</h3>
                    </div>
                    <div class="col-md-3">
                        <img src="../public/images/faleconosco/whatsapp 1.png" alt="banco inter" id="inter">
                        <h3>WHATSAPP ROSH MOSHE</h3>
                        <h3>(41) 9 9690-1918</h3>
                    </div>
                    <div class="col-md-3">
                        <img src="../public/images/faleconosco/whatsapp 1.png" alt="banco itau" id="itau">
                        <h3>WHATSAPP ELIANA</h3>
                        <h3>(41) 9 9872-4349</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer.html') %>