<section class="">
    <div class="">
        <div class=''>
            <div style="width:100%;" class="">
                <div class="">
                    <% for(let i = 0; i < noticias.length; i++) { %>
                    <div class="">
                        <div style="display:flex;" class="">
                            <p>Titulo: <%= noticias[i].titulo %></p>
                            <a style="margin-left: 20px" href="/admin/noticia/<%= noticias[i].id %>">Editar</a>
                            <a style="margin-left: 20px" href="/admin/deletar/noticias/<%= noticias[i].id %>">(x)</a>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</section>